.loginScreen {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://i.ibb.co/vXqDmnh/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

 .loginScreen_logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.loginScreen_button {
  height: 30px;
  right: 0;
  object-fit: contain;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.loginScreen_gradient {
  width: "100%";
  z-index: 1;
  height: "100vh";
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}
.loginScreen_body {
  position: "absolute";
  margin-top: "50%";
  margin-left: "auto";
  margin-right: "auto";
  text-align: "center";
  z-index: 1;
  color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
}

h1 {
  font-size: "3.125rem";
  margin-bottom: "20px";
  text-align: center;
  margin-top: 10%;
}

h2 {
  font-size: "2rem";
  font-weight: 400;
  margin-bottom: "30px";
  text-align: center;
}

h3 {
  font-size: "1.3rem";
  font-weight: 400;
  text-align: center;
}

.loginScreen_input {
  margin: "20px";
}

.loginScreen_input > form > input{
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 50%;
  border: none;
  max-width: 500px;
} 

 .loginScreen_input > form{
  text-align: center;
  padding-top: 5%;
}

.loginScreen_getStarted {
  padding: 16px 25px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 600;
}  
  
.wrapper {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
}
      

