.signupScreen {
  max-width: 300px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}

.signupScreen > form {
  display: grid;
  flex-direction: column;
}

.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

.signupScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}

.signupScreen_grey {
  color: grey;
}

.signupScreen > form > input {
  padding: 5px 15px;
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
}

.signupScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
}

.signupScreen_link:hover {
  cursor: pointer;
  text-decoration: underline;
}
